$title
$symmetry c1
$redundant    file=coord
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   on
 redundant  on
 cartesian  off
 global     off
 basis      off
$atoms
h  1,4,6,8,10,12-13,16,18,20,22,24                                             \
   basis =h def2-TZVP                                                          \
   jbas  =h def2-TZVP
c  2-3,5,7,9,11,14-15,17,19,21,23                                              \
   basis =c def2-TZVP                                                          \
   jbas  =c def2-TZVP
$basis    file=basis
$scfmo   file=mos
$closed shells
 a       1-42                                   ( 2 )
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional tpssh
   gridsize   m3
$scfconv   7
$ricore      500
$rij
$jbas    file=auxbasis
$disp3 bj
$rundimensions
   natoms=24
   nbf(CAO)=504
   nbf(AO)=444
$last step     ridft
$last SCF energy change = -.85385864E-07
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x    -0.07126881668185    y    -0.15323407607653    z     0.01814861513219    a.u.
   | dipole | =    0.4320201564  debye
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.11568434629058E-03
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-464.7297808105    -1805.222898441     808.4612635460    -60.33360895846    -2.758711502416     595.1546220585    -.3044751338690E-01
$end
