$title
$symmetry c2v
$redundant    file=coord
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   on
 redundant  on
 cartesian  off
 global     off
 basis      off
$atoms
o  1                                                                           \
   basis =o def2-SVP                                                           \
   jbas  =o def2-SVP
h  2-3                                                                         \
   basis =h def2-SVP                                                           \
   jbas  =h def2-SVP
$basis    file=basis
$scfmo   file=mos
$closed shells
 a1      1-3                                    ( 2 )
 b1      1                                      ( 2 )
 b2      1                                      ( 2 )
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional pbe
   gridsize   m3
$scfconv   7
$ricore      500
$rij
$jbas    file=auxbasis
$rundimensions
   natoms=3
   nbf(CAO)=25
   nbf(AO)=24
$last step     force
$last SCF energy change = 0.12306174E-08
$charge from ridft
         -0.000 (not to be modified here)
$dipole from force
  x     0.00000000000000    y     0.00000000000000    z    -0.77545997895875    a.u.
   | dipole | =    1.9710375607  debye
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.28121043537241E-05
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-76.27266383671    -122.7901457227     46.73385310028    -8.922680755113    -.3301983701330     9.036507910971
$dipgrad    file=dipgrad
$hessian (projected)    file=hessian
$vibrational normal modes    file=vib_normal_modes
$vibrational reduced masses
   3.7619672502  15.9994000000   2.1468668099   1.0079700000   1.1968453356
   1.4047452001   1.0814818100   1.0465654902   1.0795755332
$nvibro        9
$vibrational spectrum    file=vibspectrum
$end
